//视觉类
.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear {
    zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.book-bg {
    background-color: #33ccff;
}

.free-bg {
    background-color: #fff;
}

.sold-bg {
    background-color: #00ff66;
}

.part-bg {
    background-color: #cc00ff;
}
dt,
dd {
    line-height: 24px;
}

dt {
    font-weight: 700;
}

dd {
    padding-left: 14px;
}