@import '_mixin';
@import '_normalize';
//业务类
.page {
    padding: 42px 0 0 90px;
    margin: 0 auto;
}

.page-content {
    width: 1170px;
}

.header{
    height: 46px;
    line-height: 46px;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 2px solid #ccc;
}

.schedule {
    overflow: hidden;
    height: 650px;
    padding-top: 10px;
    @extend .clear;
}

.schedule-menu {
    width: 100px;
    height: 550px;
    padding-top: 20px;
    font-size: 16px;
    border-right: 2px solid #ccc;
    @extend .fl;
}

.pt-slide-menu {
    ul{
        li{
            line-height: 28px;
        }
    }
}

.schedule-edit {
    width: 1050px;
    padding: 20px 0 0 15px;
    @extend .fl;
}
.edit-chioce {
    line-height: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    @extend .clear;
}

.chioce-date{
    width:600px;
    @extend .clear;
    @extend .fl;
    input {
        width: 90px;
        height: 25px;
    }
    p {
        @extend .fl;
    }
    i {
        font-weight: bold;
        margin: 0 4px;
        @extend .fl;
    }
}
.data_start{
    @extend .fl;
}
.data_end{
    @extend .fl;
}
.chioce-state{
    @extend .clear;
    @extend .fr;

    li {
        overflow: hidden;
        float: left;
        margin-right: 6px;
        &:last-of-type{   
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
        }
        i{
            @extend .fl;
             width: 20px;
            height: 20px;
            margin: 2px 2px 0 0;
            border: 1px solid #333;
            &.book{
                @extend .book-bg;
            }
            &.free{
                @extend .free-bg;
            }
            &.sold{   
                @extend .sold-bg;
            }
            &.part{   
                @extend .part-bg;
            }
        }
        p{
            @extend .fl;
        }
    }

}
.edit-chart{
    @extend .clear;
}
.chart-menu {
    width: 140px;
    height: 477px;
    padding: 10px;
    border: 1px solid #ccc;
    @extend .fl;
}

.chart-cell {
    position: relative;
    width: 876px;
    height: 499px;
    padding-left: 10px;
    @extend .fl;
    @extend .clear;
    .cell-right {
        @extend .fl;
        overflow: hidden;
        /*position: absolute;*/
        width: 649px;
        border-right: 1px solid #999;
    }
    .cell-right {
        table {
            margin-left: -2px;
            th {
                padding: 7px;
            }
            caption {
                padding: 4px 0 5px;
                margin-top: 1px;
                border-top: 1px solid #999;
                border-right: 1px solid #999;
                background-color: #32ccfe;
            }
            td {
                padding: 17px 0 18px;
            }
        }
    }
    .cell-index {
        position: absolute;
        width: 865px;
        height: 30px;
        box-sizing: border-box;
        padding-left: 10px;
        line-height: 30px;
        bottom: 0;
        left: 10px;
        border: 1px solid #ccc;
        a {
            padding: 0 10px;
            color: rgb(3, 120, 255);
        }
    }
}

.cell-left {
    border-color: #ddd;
    text-align: center;
    @extend .fixed;
    @extend .fl;
    th {
        padding: 20px 30px;
        font-weight: normal;
        background-color: #32ccfe;
    }
    td {
        padding: 10px 0;
    }
}

#scroll_zone{
	background: #FDF2F2;
}
#scroll_zone-item{
	background-color: #fff;
}

.shadow {
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.popup_detail {
    overflow: hidden;
    z-index: 999;
    top: 50%;
    left: 50%;
    position: absolute;
    min-width: 300px;
    min-height: 200px;
    background-color: #fff;
    h3 {
        padding-left: 10px;
        line-height: 30px;
        background-color: #32ccfe;
        i {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    .detail-info {
        padding: 10px;  
    }
    p{
        line-height: 24px;
        i {
            &:first-of-type{
                margin-right: 30px;
            }
        }
    }
}

.popup_prebook{
    @extend .popup_detail;
    .prebook-info {
        @extend .detail-info;
        .prebook-submit {
            margin: 10px 0 0 110px;
            padding: 6px 30px;
        }
    }
    .prebook-filter {
        @extend .clear;
        @extend .fl;
        input {
            @extend .fl;
            width: 90px;
            height: 25px;
        }
        p {
            @extend .fl;
        }
        i {
            @extend .fl;
            padding-top: 4px;
            font-weight: bold;
            margin: 0 4px;           
        }
    }
    .prebook-tips {
        padding-left: 96px;
        color: #999;
    }
    .prebook-city {
        @extend .clear;
        margin-top: 10px;
        line-height: 24px;
        p {
            @extend .fl;
        }
        select {
            @extend .fl;
            min-width: 200px;
            font-size: 30px;
        }
    }   
}

