<!-- 排期 -->
<div class="manage">
    <div class="manage-menu">
        <ul>
            <li>
                <a href="javascript:;">排期管理</a>
            </li>
            <li>
                <a href="javascript:;">广告管理</a>
            </li>
            <li>
                <a href="javascript:;">数据统计</a>
            </li>
            <li>
                <a href="javascript:;">物料库</a>
            </li>
            <li>
                <a href="javascript:;">广告主管理</a>
            </li>
        </ul>
    </div>
    <div class="manage-bd">
        <div class="bd-select">
            <span>频道：</span>
            <select>
                <option>频道1</option>
                <option>频道2</option>
                <option>频道3</option>
                <option>频道4</option>
                <option>频道5</option>
                <option>频道6</option>
            </select>
            <span>目标广告位：</span>
            <select>
                <option>频道1</option>
                <option>频道2</option>
                <option>频道3</option>
                <option>频道4</option>
                <option>频道5</option>
                <option>频道6</option>
            </select>
        </div>
        <div class="bd-size">
            <span>广告位尺寸:990X100</span>
        </div>
        <div class="bd-material">
            <span>广告物料：</span>
            <input type="button" value="添加">
            <input type="button" value="从物料库中选择">
            <span>频道：</span>
            <select name="" id="">
                <option>选择1</option>
                <option>选择2</option>
                <option>选择3</option>
                <option>选择4</option>
                <option>选择5</option>
                <option>选择6</option>
            </select>
            <table border="1">
                <tr>
                    <th>广告物料名称</th>
                    <th>上线时间</th>
                    <th>广告位</th>
                    <th>广告主</th>
                    <th>尺寸</th>
                </tr>
                <tr>
                    <td>
                        <input type="radio">长安汽车-本地车市通栏
                    </td>
                    <td>
                        2015.9.1 10:20 --2015.9.2 10:20
                    </td>
                    <td>
                        长安汽车-本地车市通栏
                    </td>
                    <td>
                        长安汽车
                    </td>
                    <td>
                        990 * 90
                    </td>
                </tr>
            </table>
            <input type="button" value="完成">
            <div>
                <table>
                    <tr>
                        <th>广告物料名称</th>
                        <th>尺寸</th>
                        <th>时间</th>
                        <th>ID</th>
                        <th>地域</th>
                        <th>管理操作</th>
                    </tr>
                    <tr>
                        <td>
                            <span>
                                一猫首页东标倒流广告banner
                            </span>
                            <br/>
                            <img src="../img/ad.png" width="100" height="100">
                        </td>
                        <td>490*140</td>
                        <td>2015.9.1 10:20 --2015.9.2 10:20</td>
                        <td>543221</td>
                        <td>全国</td>
                        <td>
                            <a href="javascript:;">修改</a>
                            <a href="javascript:;">预览</a>
                            <a href="javascript:;">移除</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 排期end -->
