<div class="pop effect8">
	<form>
		<h3>
			添加/修改廣告
		</h3>
		<div>
			<div>
				<span>目标广告位:一猫大首页右侧banner</span>
			</div>
			<div>
				<span>广告主名称：</span><input type="text">
			</div>
			<div>
				<span>广告物料名称：</span><input type="text">
			</div>
			<div>
				<span>广告尺寸：990X100</span>
			</div>
			<div>
				<span>上传图片：</span><input type="text"><input type="button" value="选择图片"><img src="">
			</div>
			<div>
				<span>点击链接：</span><input type="text"><input type="button" value="检测"><input type="radio">第三方监控链接
			</div>
			<div>
				<span>点击链接：</span><input type="text">
			</div>
			<div>
				<span>目标窗口：</span><input type="checkout">新开窗口<input type="checkout">源窗口
			</div>
			<div>
				<span>投放时间：</span><input type="text"><input type="text">至<input type="text"><input type="text"><input type="checkbox">不限时间
			</div>
			<div>
				<span>
					精准投放
				</span>
				<input type="text">省<input type="text">市 <input type="button" value="添加">
				<div></div>
			</div>
			<div>
				<span>
					需求人：
				</span>
				<input type="text">
			</div>
			<input type="button" value="完成">
		</div>
	</form>
</div>