<!-- 弹窗-预定 -->
<div class="popup_prebook page-item_hide">
    <form action="" method="post">
        <h3>广告位预订<i>X</i></h3>
        <div class="prebook-info">
            <p>广告位名称：一猫首页-banner区域</p>
            <div class="prebook-filter">
                <p>预计投放时间：</p>
                <input type="txt" value="">
                <i>—</i>
                <input type="txt" value="">
            </div>
            <p class="prebook-tips">预订时间不得超过15天</p>
            <div class="prebook-city">
                <p>广告主：</p>
                <select>
                    <option>北京</option>
                    <option>上海</option>
                    <option>广州</option>
                    <option>深圳</option>
                </select>
            </div>
            <input class="prebook-submit" type="submit" value="提交">
        </div>
    </form>
</div>
<!-- 弹窗-预定end -->