<div class="warehouse">
    <div class="warehouse-select">
        <span>广告物料：</span>
        <input type="button" value="添加">
        <input type="button" value="从物料库中选择">
        <span>频道：</span>
        <select name="" id="">
            <option>选择1</option>
            <option>选择2</option>
            <option>选择3</option>
            <option>选择4</option>
            <option>选择5</option>
            <option>选择6</option>
        </select>
    </div>
    <table border="0" class="warehouse-item">
        <tr>
            <th>广告物料名称</th>
            <th>上线时间</th>
            <th>广告位</th>
            <th>广告主</th>
            <th>尺寸</th>
        </tr>
        <tr>
            <td>
                <input type="radio">长安汽车-本地车市通栏
            </td>
            <td>
                2015.9.1 10:20 --2015.9.2 10:20
            </td>
            <td>
                长安汽车-本地车市通栏
            </td>
            <td>
                长安汽车
            </td>
            <td>
                990 * 90
            </td>
        </tr>
    </table>
    <input type="button" value="完成">
</div>
