<div class="zone effect8">
    <div class="zone-select">
        <span>频道：</span>
        <select>
            <option>频道1</option>
            <option>频道2</option>
            <option>频道3</option>
            <option>频道4</option>
            <option>频道5</option>
            <option>频道6</option>
        </select>
        <span>目标广告位：</span>
        <select>
            <option>频道1</option>
            <option>频道2</option>
            <option>频道3</option>
            <option>频道4</option>
            <option>频道5</option>
            <option>频道6</option>
        </select>
    </div>
    <div class="zone-size">
        <span>广告位尺寸:990X100</span>
    </div>
</div>