// @import '../configs/_mixin';
// @import '../configs/_normalize';
/* 排期表 */
.schedule {
    overflow: hidden;
    height: 650px;
    padding-top: 10px;
    @extend .clear;
}

.schedule-menu {
    width: 100px;
    height: 550px;
    padding-top: 20px;
    font-size: 16px;
    border-right: 2px solid #ccc;
    @extend .fl;
}


.schedule-edit {
    width: 1050px;
    padding: 20px 0 0 15px;
    @extend .fl;
}
.edit-chioce {
    line-height: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    @extend .clear;
}

.chioce-date{
    width:600px;
    @extend .clear;
    @extend .fl;
    input {
        width: 90px;
        height: 25px;
        &:nth-of-type(1){
            @extend .fl;
        };
        &:nth-of-type(2){
            @extend .fr;
        };
    }
    p {
        @extend .fl;
    }
    i {
        font-weight: bold;
        margin: 0 4px;
        @extend .fl;
    }
}
.chioce-state{
    @extend .clear;
    @extend .fr;

    li {
        overflow: hidden;
        float: left;
        margin-right: 6px;
        &:last-of-type{   
            font-size: 18px;
            font-weight: 700;
            cursor: pointer;
        }
        i{
            @extend .fl;
             width: 20px;
            height: 20px;
            margin: 2px 2px 0 0;
            border: 1px solid #333;
            &.book{
                @extend .book-bg;
            }
            &.free{
                @extend .free-bg;
            }
            &.sold{   
                @extend .sold-bg;
            }
            &.part{   
                @extend .part-bg;
            }
        }
        p{
            @extend .fl;
        }
    }

}
.edit-chart{
    @extend .clear;
}
.chart-menu {
    width: 140px;
    height: 477px;
    padding: 10px;
    border: 1px solid #ccc;
    @extend .fl;
}

.chart-cell {
    position: relative;
    width: 876px;
    height: 499px;
    padding-left: 10px;
    @extend .fl;
    @extend .clear;
    .cell-right {
        @extend .fl;
        overflow: hidden;
        /*position: absolute;*/
        width: 649px;
        border-right: 1px solid #999;
    }
    .cell-right {
        table {
            margin-left: -2px;
            th {
                padding: 7px;
            }
            caption {
                padding: 4px 0 5px;
                margin-top: 1px;
                border-top: 1px solid #999;
                border-right: 1px solid #999;
                background-color: #32ccfe;
            }
            td {
                padding: 17px 0 18px;
            }
            background-color: #fff;
        }
        background: #FDF2F2;
    }
    .cell-index {
        position: absolute;
        width: 865px;
        height: 30px;
        box-sizing: border-box;
        padding-left: 10px;
        line-height: 30px;
        bottom: 0;
        left: 10px;
        border: 1px solid #ccc;
        a {
            padding: 0 10px;
            color: rgb(3, 120, 255);
        }
    }
}

.cell-left {
    border-color: #ddd;
    text-align: center;
    @extend .fixed;
    @extend .fl;
    th {
        padding: 20px 30px;
        font-weight: normal;
        background-color: #32ccfe;
    }
    td {
        padding: 10px 0;
    }
}