@import '../configs/_normalize';
@import '../configs/_variable';
@import '../configs/_mixin';
@import '../components/_header';
@import '../components/_zone';
@import '../components/_material';
@import '../components/_warehouse';
@import '../components/_pop';

//布局类
/* 页面容器 */
.page {
    height: 100%;
    font-size: $fs;
    &>.main{
    	padding-top:10px;
    	height: 100%;
    	margin: 0 100px;
    	&>.nav{
    		width: 10%;
    		background-color:#EAF9FF;
    		height: 100%;
    		@extend .fl;
    	}
    	&>.bd{
    		background-color:#f9f9f9;
    		width: calc(90% - 40px);
    		margin-left:40px;
    		height: 100%;
    		background-color:#FFFFFF;
    		&>div{
    			margin-bottom: 10px;
    		}
    		@extend .fr;
    	}
    }
    &>.standby{
    	height: 100%;
    	width: 100%;
    	top: 0;
    	position: absolute;
    }
    @extend .pr;
}